
<p-orderList [value]="mylist" [listStyle]="{'height':'250px'}" header="Metro" 
    filter="filter" filterBy="name" filterPlaceholder="Filter by name" dragdrop="false" dragdropScope="mylist">
    <ng-template let-fermata pTemplate="item">
        <div class="ui-helper-clearfix">
            <p  style="display:inline-block;margin:2px 0 2px 2px" width="48"    >
            <div style="font-size:14px;float:left;margin:15px 5px 0 0">{{fermata.name}} - {{fermata.linee}}  <button pButton type="button"  iconPos="right" label="near me" (dblclick)="onSelect(fermata)" ></button> </div>
        </div>
    </ng-template>
</p-orderList>

