
  <div *ngIf="!arrayHasItems">

     <p-table  [value]=" neighboursList">
  <ng-template pTemplate="header">
    <tr>
      <th>name</th>
      <th>distance</th>
      
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-neighbour>
    <tr>
      <td>{{ neighbour.name}}</td>
      <td>{{ neighbour.distance}} km</td>
      
    </tr>
  </ng-template>
</p-table>
    
  </div>
