
<div   class="container">
      <div class="row">
            <div class="table-responsive"   class="col-xs-5" style="background-color:lavender;" >
                    <table class="table table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th scope="col" width="25%">Name</th>
                                <th scope="col" width="13%">Linea</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="bodycontainer scrollable">
                        <table class="table table-hover table-striped table-condensed table-scrollable">
                            <tbody>
                                <!-- add rows here, specifying same widths as in header, at least on one row -->
                                <tr *ngFor="let fermate of mylist" class="ui-helper-clearfix" pDraggable="fermati" (onDragStart)="dragStart($event,fermate)"
                                                    (onDragEnd)="dragEnd($event)">
                                                    <th scope="row"> <span>
                                                            <div style="margin:8px 0 0 8px;">{{fermate.name}}</div>
                                                        </span></th>
                                                    <th scope="row"><span>
                                                            <div style="margin:8px 0 0 8px;">{{fermate.linee}}</div>
                                                        </span></th>
                                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <table class="table table-hover table-striped table-condensed">
                        <tfoot>
                            <!-- add your footer here... -->
                        </tfoot>
                    </table>
                </div>
          
            <div class="col-xs-4"  >
                     <div class="col-xs-6" >
                            <div  style="max-width: 18rem;" class="ui-g-9 ui-md-6 drop-column" pDroppable="fermati"
                            (onDrop)="drop($event)" [ngClass]="{'ui-highlight-fermata':draggedFermata}">
                  
                                                           <p><span>ADD HERE</span></p>      
                           <p-card header="Advanced Card"     subheader="Subheader" [style]="{width: '200px'}" styleClass="ui-card-shadow"
                           *ngFor="let fermate of selectedFermata "
                                     [class.selected]="fermate === selectedStop" (dblclick)="removeItem(fermate)">
                             <p-header>
                                           {{fermate.name}}
                             </p-header>
                        <div>   metro {{fermate.linee}} </div>
                              </p-card> 
                        </div><hr>
                  </div> 
          </div>
        </div>

      <p-dialog header="Warning" [modal]="true" [(visible)]="display">
              <h2>Only two elements Allowed</h2>

          </p-dialog>

  </div>

  

  <p-dialog header="Distance" [modal]="true" [(visible)]="showDistance">
    <p>the Distance Between {{this.station.metroA}} and {{this.station.metroB}} is {{distance}} km</p>

</p-dialog>